{% extends 'base.html.twig' %}

{% block title %}All classifications{% endblock %}

{% block body %}
<div class="container">
    <h4 style="text-align: center;">{{ length }} classification(s) found</h4>
    {% if deleteMessage is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ deleteMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <h6>Filter classification form : </h6>
    <p>You can search by filtering only the <strong>classification</strong> field.</p>

    {{ form_start(searchClassificationForm) }}
        {{ form_row(searchClassificationForm.classification) }}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Search !</button>
        </div>
    {{ form_end(searchClassificationForm) }}

    <table class="table table-primary mt-4">
        <thead>
            <tr>
                <th scope="col"># id</th>
                {% for column in classificationColumns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for classification in classifications %}
                <tr>
                    <th scope="row">{{ classification.id }}</th>
                    <td>{{ classification.classification }}</td>
                    <td><a class="btn btn-primary" href="{{ path('one_classification', {'id': classification.id}) }}" role="button">Show</a></td>
                    <td><a class="btn btn-danger" href="{{ path('remove_classification', {'id': classification.id}) }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid mt-4" style="display: flex; justify-content: center;">
    {{ knp_pagination_render(classifications, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
</div>
{% endblock %}
