{% extends 'base.html.twig' %}

{% block title %}All Artworks{% endblock %}

{% block body %}
<div class="container">
    <h4 class="mb-4" style="text-align: center;">{{ length }} artwork(s) found</h4>

    <h6>Filter artwork form : </h6>
    <p>You can search by filtering certain fields such as the <strong>name</strong> of a artwork or the <strong>title</strong> for example.</p>
    {% if deleteMessage is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ deleteMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {{ form_start(searchArtworkForm) }}
        <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            {{ form_row(searchArtworkForm.number) }}
            {{ form_row(searchArtworkForm.name) }}
            {{ form_row(searchArtworkForm.title) }}
            {{ form_row(searchArtworkForm.dimensions) }}
            {{ form_row(searchArtworkForm.medium) }}
            {{ form_row(searchArtworkForm.offset) }}
            {{ form_row(searchArtworkForm.limit) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Search !</button>
        </div>
    {{ form_end(searchArtworkForm) }}

    <table class="table table-primary mt-4">
        <thead>
            <tr>
                <th scope="col"># id</th>
                {% for column in artworkColumns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for artwork in artworks %}
                <tr>
                    <th scope="row">{{ artwork.id }}</th>
                    <td>{{ artwork.number }}</td>
                    <td>{{ artwork.name }}</td>
                    <td>{{ artwork.title }}</td>
                    <td>{{ artwork.dimensions }}</td>
                    <td>{{ artwork.medium }}</td>
                    <td><a class="btn btn-primary" href="{{ path('one_artwork', {'id': artwork.id}) }}" role="button">Show</a></td>
                    <td><a class="btn btn-danger" href="{{ path('remove_artwork', {'id': artwork.id}) }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid mt-4" style="display: flex; justify-content: center;">
    {{ knp_pagination_render(artworks, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
</div>
{% endblock %}
