{% extends 'base.html.twig' %}

{% block title %}All Artworks{% endblock %}

{% block body %}
<div class="container">
    <h4>{{ length }} artwork(s) found</h4>
    {% if deleteMessage is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ deleteMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col"># id</th>
                {% for column in artworkColumns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for artwork in artworks %}
                <tr>
                    <th scope="row">{{ artwork.id }}</th>
                    <td>{{ artwork.number }}</td>
                    <td>{{ artwork.name }}</td>
                    <td>{{ artwork.title }}</td>
                    <td>{{ artwork.dimensions }}</td>
                    <td>{{ artwork.medium }}</td>
                    <td><a class="btn btn-primary" href="{{ path('one_artwork', {'id': artwork.id}) }}" role="button">Show</a></td>
                    <td><a class="btn btn-danger" href="{{ path('remove_artwork', {'id': artwork.id}) }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
