{% extends 'base.html.twig' %}

{% block title %}Artist show{% endblock %}

{% block body %}
    <div class="container">
        {% if successMessage is not empty %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ successMessage }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        
        {% if artist is not empty %}
            <h4>{{ artist.displayName }}</h4>
            <p>{{ artist.displayName }} is of {{ artist.nationality }} nationality</p>

            <a class="btn btn-success" href="{{ path('edit_artist', {'id': artist.id}) }}" role="button">Edit this artist</a>

            {% if artist.artworks is not empty %}
                <ul>
                    {% for artwork in artist.artworks %}
                        <li>{{ artwork.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No artwork(s) to display</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
