{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <div class="mt-3 container" style="background-color: #E5F1FF;">
        <h4>Edit Artist Form</h4>
        {{ form_start(artistEditForm) }}
            {% if form_errors(artistEditForm) is not empty %}
                {{ form_errors(artistEditForm) }}
            {% endif %}
            {{ form_row(artistEditForm.display_name) }}
            {{ form_row(artistEditForm.begin_date) }}
            {{ form_row(artistEditForm.end_date)}}
            {{ form_row(artistEditForm.gender)}}
            {{ form_row(artistEditForm.nationality)}}
            {{ form_row(artistEditForm.artworks)}}
            <div class="mt-3" style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                <button type="submit" class="btn btn-primary">Modify artist !</button>
                <a class="btn btn-danger" role="button" href="{{ path('all_artist') }}">Cancel</a>
            </div>
        {{ form_end(artistEditForm) }}
    </div>
{% endblock %}
