{% extends 'base.html.twig' %}

{% block title %}All Artists{% endblock %}

{% block body %}
<div class="container">
    <h4>{{ length }} artist(s) found</h4>
    {% if deleteMessage is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ deleteMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col"># id</th>
                {% for column in artistColumns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
                <tr>
                    <th scope="row">{{ artist.id }}</th>
                    <td>{{ artist.getDisplayName }}</td>
                    <td>{{ artist.getBeginDate }}</td>
                    <td>{{ artist.getEndDate }}</td>
                    <td>{{ artist.gender }}</td>
                    <td>{{ artist.nationality }}</td>
                    <td><a class="btn btn-primary" href="{{ path('one_artist', {'id': artist.id}) }}" role="button">Show</a></td>
                    <td><a class="btn btn-danger" href="{{ path('remove_artist', {'id': artist.id}) }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
