{% extends 'base.html.twig' %}

{% block title %}All dating Artwork{% endblock %}

{% block body %}
<div class="container">
    <h4>{{ length }} dating(s) found</h4>

    {% if deleteMessage is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ deleteMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {{ form_start(searchDatingForm) }}
        <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            {{ form_row(searchDatingForm.object_begin_date) }}
            {{ form_row(searchDatingForm.object_end_date) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Search !</button>
        </div>
    {{ form_end(searchDatingForm) }}

    <table class="table table-primary mt-4">
        <thead>
            <tr>
                <th scope="col"># id</th>
                {% for column in datingColumns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for dating in datings %}
                <tr>
                    <th scope="row">{{ dating.id }}</th>
                    <td>{{ dating.getObjectBeginDate }}</td>
                    <td>{{ dating.getObjectEndDate }}</td>
                    <td><a class="btn btn-primary" href="{{ path('one_dating_artwork', {'id': dating.id}) }}" role="button">Show</a></td>
                    <td><a class="btn btn-danger" href="{{ path('remove_dating_artwork', {'id': dating.id}) }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid mt-4" style="display: flex; justify-content: center;">
    {{ knp_pagination_render(datings, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
</div>
{% endblock %}
