{% extends 'base.html.twig' %}

{% block title %}All Localisations{% endblock %}

{% block body %}
    <div class="container">
        <h4>{{ length }} localisation(s) found</h4>

        {% if deleteMessage is not empty %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ deleteMessage }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

    {{ form_start(searchLocalisationForm) }}
        <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            {{ form_row(searchLocalisationForm.culture) }}
            {{ form_row(searchLocalisationForm.period) }}
            {{ form_row(searchLocalisationForm.dynasty) }}
            {{ form_row(searchLocalisationForm.reign) }}
            {{ form_row(searchLocalisationForm.region) }}
            {{ form_row(searchLocalisationForm.subregion) }}
            {{ form_row(searchLocalisationForm.country) }}
            {{ form_row(searchLocalisationForm.county) }}
            {{ form_row(searchLocalisationForm.city) }}
            {{ form_row(searchLocalisationForm.locale) }}
            {{ form_row(searchLocalisationForm.locus) }}
            {{ form_row(searchLocalisationForm.river) }}
            {{ form_row(searchLocalisationForm.excavation) }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Search !</button>
        </div>
    {{ form_end(searchLocalisationForm) }}

    <table class="table table-primary mt-4">
        <thead>
            <tr>
                <th scope="col"># id</th>
                {% for column in localisationColumns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for localisation in localisations %}
                <tr>
                    <th scope="row">{{ localisation.id }}</th>
                    <td>{{ localisation.culture }}</td>
                    <td>{{ localisation.period }}</td>
                    <td>{{ localisation.dynasty }}</td>
                    <td>{{ localisation.reign }}</td>
                    <td>{{ localisation.region }}</td>
                    <td>{{ localisation.subregion }}</td>
                    <td>{{ localisation.country }}</td>
                    <td>{{ localisation.county }}</td>
                    <td>{{ localisation.city }}</td>
                    <td>{{ localisation.locale }}</td>
                    <td>{{ localisation.locus }}</td>
                    <td>{{ localisation.river }}</td>
                    <td>{{ localisation.excavation }}</td>
                    <td><a class="btn btn-primary" href="{{ path('one_localisation', {'id': localisation.id}) }}" role="button">Show</a></td>
                    <td><a class="btn btn-danger" href="{{ path('remove_localisation', {'id': localisation.id}) }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="container-fluid mt-4" style="display: flex; justify-content: center;">
        {{ knp_pagination_render(localisations, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>
{% endblock %}
